.results-container {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 25px;
    margin-top: 10vh;
    justify-content: space-evenly;
}

.title {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        object-fit: cover;
        width: calc(150px + 5vw);
        height: calc(170px + 10vw);
        border-radius: 10px;
        transition: width 0.5s ease;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        filter: opacity(0.9);
    }

    h3.thumbnail-title {
        width: calc(150px + 5vw);
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #adadad;
    }

    &:hover {
        img {
            width: calc((150px + 5vw)* 1.1);
            height: calc(170px + 10vw);
            filter: opacity(1);
        }

        &::after {
            content: '▶';
            position: absolute;
            top: 45%;
            left: 50%;
            font-size: 44px;
            color: white;
            transform: translate(-50%, -50%);
        }
    }
}

.page-control {
    button {
        background-color: transparent;
        border: none;
        margin: 2px;
        padding: 5px;
        cursor: pointer;
        border-radius: 5px;
        color: #666;

        :hover {
            background-color: #2b2b2b;
            color: #888;
        }
    }
}