.recent-titles {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.recent-show-item {
    position: relative;

    .remove-button {
        position: absolute;
        top: 0px;
        background-color: transparent;
        border: none;
        right: 6px;
        padding: 15px;
        cursor: pointer;
    }
}