.standby .main-icon {
    height: auto;
    opacity: 1;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.active .main-icon {
    position: absolute;
    cursor: pointer;
    height: auto;
    right: 5px;
    top: 15px;
    font-size: 3em !important;

    @media (max-width:350px) {
        display: none;
    }
}