:root {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  animation: all 0.5s linear;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.error {
  color: #b46464;
}

form * {
  font-family: Helvetica, sa ns-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 8px;
}

::-webkit-scrollbar:hover {
  width: 8px;
  height: 8px;
  display: block;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}