.settings-container {
    position: fixed;
    top: 5px;
    right: 5px;
    display: inline-block;
    cursor: pointer;

    .settings-button {
        background: none;
        border: none;
        cursor: pointer;

        &:hover {
            filter: brightness(1.2);
        }
    }

    .menu {
        position: absolute;
        right: 5px;
        width: 200px;
        padding: 10px;
        border-radius: 10px;
        background-color: #333333;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        display: flex;
        justify-content: center;


        &.menu-visible {
            display: block;
        }
    }

    .fade {
        animation: fade 0.5s;
    }

    .bounce {
        animation: bounce 0.5s;
    }

    @keyframes bounce {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(5px);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}